### Built-in functions

In [4]:
type(5)

int

In [5]:
print('my name')

my name

In [6]:
numbers = [1,2,3,4,5,6,7,8,9]
len(numbers)

9

### Custom functions

> Function is a reusable block of code or programming statements designed to perform a certain task.

> To define or declare a function, python provides the def keyword. 

> The function block of code is executed only if the function is called or invoked.

In [ ]:
# defining function
def function_name(age):
    #codes
    #codes

# calling a function
function_name()

IndentationError: expected an indented block after function definition on line 2 (1505570125.py, line 7)

#### Paramenters
- Is the variable listed inside the () in the function definition.

#### Arguments
- Is the value that is sent to the function when it is called

### Function without Paramenters
- Function can be declared without parameters

In [10]:
def full_name():
    first_name= 'data'
    last_name = 'enginer'
    full_names = first_name + " " + last_name
    print(full_names)

In [ ]:
full_name() # calling function

data enginer

In [17]:
num_1 =364
num_2 = 449984

In [18]:
def add_2():
    total = num_1 + num_2
    print(total)

In [19]:
add_2()

450348

### Function Returning a value - Part 1
- Function can also return values, if a function does not have a return statement, the value of the function is none.

In [20]:
def full_name():
    first_name= 'data'
    last_name = 'enginer'
    full_names = first_name + " " + last_name
    return full_names

In [21]:
full_name()

'data enginer'

Exercises: Level 1
- Declare a function add_two_numbers. It returns a sum.
- Area of a circle is calculated as follows: area = π x r x r. Write a function that calculates area_of_circle.
- Temperature in °C can be converted to °F using this formula: °F = (°C x 9/5) + 32. Write a function which converts °C to °F, convert_celsius_to-fahrenheit.

### Functions with paramenters
- In function we can pass different data types(number, string, boolean, list, tuple, dict, set) as a parameter

1. Single Parameter: If our unction takes a parameter we should call our function with an argument

In [ ]:
#syntax
#Declare
def function_name(parameter):
    codes
    codes

print(function_name(argument))

In [23]:
def greetings(name):
    message = name + ', welcome to Python class!'
    return message

In [25]:
print(greetings('james'))

james, welcome to Python class!

In [26]:
def add_ten(num):
    ten = 10
    return num + ten

In [27]:
print(add_ten(60))

70

1. Write a function called check-season, it takes a month parameter and returns the season: Autumn, Winter, Spring or Summer.
2. Declare a function named print_list. It takes a list as a parameter and it prints out each element of the list.

In [28]:
def check_season(month):
    month = month.lower()

    if month in ['march', 'april', 'may']:
        return 'Spring'
    elif month in ['june', 'july', 'august']:
        return 'Summer'
    elif month in ['september', 'october', 'november']:
        return 'Autumn'
    elif month in ['december', 'january', 'february']:
        return 'Winter'
    else:
        return 'Invalid month'

In [29]:
print(check_season("April"))

Spring

2. Two parameter: A function may or may not have a parameter or parameters. A function may also have two or more parameters. If our function takes parameters we should call it with arguments.

In [ ]:
#syntax
def function_name(param1, param2):
    #codes
    #codes
print(function_name(arg1, arg2))

In [30]:
def current_age(current_year, birth_year):
    age = current_year-birth_year
    return age

In [31]:
print(current_age(2025, 1980))

45

In [32]:
def rect(length, width):
    area = length * width
    return area

In [33]:
rect(53,55)

2915

### Passing Arguments with Key and value

- N/B = If we pass the arguments with key and value, the order of the arguments does not matter

In [ ]:
#syntax
def function_name(para1, param2):
    #codes
    #codes

#calling
print(function_name(para1 = 'lux', para2 = 'dev')) # the order of arguments does not matter

In [36]:
def full_num(firstname, lastname):
    full_name  = firstname + ' ' + lastname
    print(full_name)

print(full_num(firstname='lux', lastname='dev'))

lux dev
None

- Write a function called calculate_slope which return the slope of a linear equation

In [1]:
#ax+by+c= 0
#slope = -a/b
def calculate_slope(a, b):
    if b ==0:
        return 'slope is undefined (b=0)'
    slope= -a/b
    return slope

In [2]:
calculate_slope(3,7)

-0.42857142857142855

- Quadratic equation is calculated as follows: ax² + bx + c = 0. Write a function which calculates solution set of a quadratic equation, solve_quadratic_eqn.

In [3]:
#ax² + bx + c = 0
import math

def solve_quadratic_eqn(a,b,c):
    if a == 0:
        return 'no equation'
    d=b**2-4*a*c #discriminant

    if d > 0:
        x1 = (-b+math.sqrt(d))/(2*a)
        x2 = (-b-math.sqrt(d))/(2*a)
        return x1, x2
    elif d==0:
        x=-b/(2*a)
        return x
    else:
        return 'no solution'

In [5]:
solve_quadratic_eqn(1,-3,2)

(2.0, 1.0)

### Function Returning a value - Part 2

- string
- number
- boolean
- list

In [8]:
x ='jet'

In [6]:
#string
def print_name(first_name):
    return first_name

In [10]:
print_name(x)

'jet'

In [11]:
#number
def add_num(n1, n2):
    total = n1 + n2
    return total

add_num(4,9)

13

In [41]:
#boolean
def is_even(n):
    if n % 2 == 0:
        print('even')
        return True
    return False

is_even(1890)

even

True

In [27]:
#list
def get_even(n):
    evens=[]
    for i in range(n+2):
        if i % 2 == 0:
           evens.append(i)
    return evens

In [28]:
get_even(19)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Functions with Default Parameters

- Sometimes we pass default values to parameters, when we invoke the function. If we do not pass arguments when calling the function, their default values will be used.

In [ ]:
#syntax
def function_name(param = value):
    #codes
    #codes

#calling
function_name()
function_name(arg)

In [29]:
def greetings(name='Austin'):
    message = name + ',how are you doing?'
    return message

In [30]:
greetings()

'Austin,how are you doing?'

In [31]:
greetings('Joyce')

'Joyce,how are you doing?'

In [32]:
def calc_year(birth_year, current_year = 2025):
    age = current_year - birth_year
    return age

In [39]:
calc_year(1990, 2025)

35

### Arbitrary Number of arguments
- (*args): If the number of arguments to be passed into the function is unknown, we add a ( * ) before the argument name

In [ ]:
def function_name(*args):
    codes
    codes
#calling f
function_name(parm1, param2, param3,.....)

In [36]:
def sum_all(*nums):
    total = 0
    for num in nums:
        total= total + num
    return total

In [37]:
sum_all(2,3,4,5,6,7,6,4)

37

In [42]:
def groups(team, *args):
    print(team)
    for i in args:
        print(i)

In [44]:
groups('team-1','job','check','davy','davy1','davy2','davy3','davy')

team-1
job
check
davy
davy1
davy2
davy3
davy

In [45]:
def dict_1(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}:{value}")

In [46]:
dict_1(name='james', age=78, city='nyanza')

name:james
age:78
city:nyanza

In [47]:
def dict_2(*args, **kwargs):
    print("Positional arguments:", args)
    print("Keyword arguments:", kwargs)

In [48]:
dict_2(1,2,"a",name="bob", age = 90)

Positional arguments: (1, 2, 'a')
Keyword arguments: {'name': 'bob', 'age': 90}